source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/dotnet-websharper/index.json
source ../localnuget

framework: net6.0, netstandard2.0
strategy: min
storage: none

nuget FSharp.Core
nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget WebSharper.Testing prerelease
nuget WebSharper.AspNetCore prerelease
nuget WebSharper.React prerelease
nuget WebSharper.Elmish ~> 4.0.2.350-beta1
nuget WebSharper.Elmish.React prerelease
nuget WebSharper.FluentUi.React.Icons prerelease
nuget Elmish

source ../localnuget
nuget WebSharper.FluentUi.React.Components prerelease

group wsbuild
    git https://github.com/dotnet-websharper/build-script dotnettool